:root{
--check-icon: url("data:image/svg+xml, <svg viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 4.00001L2.66667 5.80001L7 1.20001' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}


[data-theme=light]
{
    --newBg: linear-gradient(#0e4194,#2490ef);
	--home-title-color: #0b336c;
	--borderColor: #e4e4e4;
	--sidebarTabColor: #666;
	--boxBg: var(--bg-yellow);
	--btnBg: #2490EF;
	--btnSecBgCol: #0e4194;
	--checkColor: #2490EF;
	--rowBtnBg: #D3E9FC;
	--headerBg: #D3E9FC;
}

[data-theme=dark]
{
    --newBg: linear-gradient(#e35e00,#ffa223);
	--home-title-color: var(--text-color);
	--borderColor: none;
	--sidebarTabColor: #ffffff;
	--boxBg: #fffcf812;
	--btnBg: #ef7206;
	--btnSecBgCol: #a54c00;
	--checkColor: #ff4e00;
	--rowBtnBg: #fb9f3dd6;
	--headerBg: #fb9f3dd6;
}







/* Main */

body {
	font-size: 15px;
	background-color: #f3f6f9;
    font-weight: 600;
    height: auto;
}
a {
    color: #666;
	font-weight: 600;
}
.control-label, .grid-heading-row {
    font-size: 16px;
    font-weight: 800;
  }
span.sidebar-item-label{
    font-size: 17px;
    font-weight: 600;
}
.small, small {
    font-size: 95%;
}
.h6.uppercase, h6.uppercase {
    font-weight: 600;
	font-size: 11.5px;
}
.dropdown-help {
    display :none !important
}

.dt-row--highlight{
    background-color:  red !important;
}
.dt-row--highlight .dt-cell {
    background-color: #80ccff !important;
}
/* Navigation Bar */
.navbar-expand .navbar-nav>li>a{
	color:#fff !important;
}
.navbar-expand .navbar-nav>li>a:hover{
	color:#ddd;
}

.navbar-expand{
    /* background-color: #0e4194 !important; */
    /* background:linear-gradient(#0e4194,#2490ef) !important; */
}
/* Widgets */
.widget {
    /* background-color: white; */
	border: none;
	/* box-shadow: 0px 3px 12px 0px #e8eafcad, 0 3px 3px -2px #461a7714; */
}
.widget .widget-head .widget-title {
    font-size: 14px;
	color: #2050bb;
}
.widget.shortcut-widget-box .widget-head .widget-title i {
    color: #a5488a;
}	

/* Sidebar */
.desk-container .desk-sidebar .sidebar-item {
    font-size: 13px;
    font-weight: 600;
	color: #2490ef;
}
.desk-container .desk-sidebar .sidebar-item .selected, .desk-container .desk-sidebar .sidebar-item:hover {
    /* color: white;
    font-weight: 800;
    background: linear-gradient(to right, #0e4194, #2490ef) !important; */
}
.disabled{
    color: white;
}
.selected{
    color: white !important;
    font-weight: 800;
    /* background: linear-gradient(to right, #0e4194, #2490ef) !important;  */
}
.selected:hover{
    color: white;
    font-weight: 800;
    background: linear-gradient(to right, #0e4194, #2490ef) !important; 
}
.layout-side-section {
    font-size: 14px;
}
.uppercase {
    color:#a5488a;
}
.navbar .navbar-home img {
    width: 100px !important;
    margin-right: 0;
    margin-top: -3px;
}

/* Dropdowns */
.dropdown-menu>li>a {
    font-size: 13px;
	color:#666;
	font-weight: 500;
}

/* Page Heading */
.page-head {
    border-bottom: none !important;
    box-shadow: 0 1px 10px 1px rgba(115, 108, 203, 0.1);
}
.page-title .title-text {
	/* color: #0b336c; */
	font-size: 22px;
}
#icon-notification{
    color:#fff;
    font-weight: 700;
}
.icon{
    /* color: #2490ef !important; */
    /* fill:#e9ebc9; */
}
.widget-shadow {
/* background-color: #ebeef0; */

}

/*Main Section */
.layout-main-section {
    /* border: 1px solid #e4e4e4; */
    /* background-color: white; */
    /* padding: 20px; */
}
.widget-group {
    border: 1px solid #e4e4e4;
    /* background-color: white; */
    padding: 20px;
}
.list-row-head {
    /* background-color:#2490ef !important; */
    color: #ffff !important;
    font-weight:600;
    /* border-bottom: 1px solid #2490ef !important; */
    background-color: var(--btnBg);
    border: 1px solid var(--btnBg);
}

/* Buttons */
.btn-primary {
    /* background-color: #0e4194;
    border-color: #0e4194; */

    background: var(--btnBg) !important;
    border-color: var(--btnBg) !important;
}
.control-label, .grid-heading-row {
    font-size:13px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    /* background-color: #0e4194;
    border-color:#0e4194; */

    background-color: var(--btnSecBgCol) !important;
    border-color: var(--btnSecBgCol) !important;
}
.indicator-right.blue:after, .indicator.blue:before {
    background: #0e4194;
}

/*Other Components*/
input[type=checkbox]:checked:before {
    color: #0e4194;
}









.navbar,
.selected
{
	background: var(--newBg) !important;
}



.selected:hover
{
    background: var(--newBg) !important;
}

.desk-sidebar-item ,
.standard-sidebar-item
{
    color: var(--sidebarTabColor);
}

/* .ellipsis , */
.title-text
{
    color: var(--home-title-color);
}

.layout-main-section, 
.widget-group
{
    border: 1px solid var(--borderColor);
}


.no-margin
{
    background: var(--boxBg) !important;
}

.sidebar-action ,
.show-tags,
.list-sidebar ,
.sidebar-action
{
    color: var(--btnBg) !important;
}

input[type="checkbox"]:checked
{
    background-color: var(--checkColor);
    background-image: var(--check-icon);
}

.indicator-pill.blue, .indicator-pill-right.blue, .indicator-pill-round.blue
{
    background: var(--rowBtnBg);
}

.indicator-pill.gray, .indicator-pill-right.gray, .indicator-pill-round.gray
{
    background: var(--rowBtnBg);
}

.form-message.blue
{
    background: var(--headerBg);
}



/* #footer-htm{
    background-color: red;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}
					 */