<html lang="ar" dir="rtl">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.15/vue.cjs.js" integrity="sha512-v43CHylp2byK4H0o5WYD3XvfXhDD2infaA/ObwTLKru+zYNNCzye3Z1lv3dWZo0MGrTiXU+nhqPg/BH6HCwGuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{{currenturl}}/assets/dynamic/css/bootstrap.min.css">
          <title> Welcome !</title>
    </head>
<body> 

<div class="container"> 
   <nav class="navbar  navbar-expand-lg  navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Clinick</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   </nav>
   {% block content %} {% endblock %}
</div>

   <script src="{{currenturl}}/assets/dynamic/js/jquery-3.7.0.min.js" ></script>
   <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" ></script> -->
   <script src="{{currenturl}}/assets/dynamic/js/bootstrap.min.js" ></script>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

   <script> 
      const vm = new Vue({
        el:"#app",
        delimiters: ['[[', ']]'],
        data: {
            "data" : "main"  },
            
   
        mounted: async ()=> {
         this.data = "Batik"
         console.log( "data" , this.data)
        } ,
        methods:{

         mainApp: async() =>{
               console.log("Vew Work ")
               return ""
         },


         }
      } ,


      )
   </script>
</body>
</html>