<!DOCTYPE html>
{% extends "templates/web.html" %}

{% block title %}{{ _("Item Details") }}{% endblock %}

{% block head_include %}
<link rel="stylesheet" type="text/css" href="/assets/dynamic/css/item_detail.css">
<style>
</style>
{%- endblock -%}

{% block page_content %}
    <h2 style="text-align:center">{{ item_doc.item_code }}</h2>
    <div class="card">
      <img src='{{img_link}}' alt="Denim Jeans" style="width:100%;min-height:200px;">
      <h3>{{ item_doc.item_name }}</h3>
      <!-- <p class="brand" style="color: black;">Brand :{{item_doc.brand}}</p> -->
      <p class="price">Price(+Tax):{{item_price}}</p>
      <!-- <p class="price">Price List :{{item_doc.price_list}}</p> -->
      <p class="group" style="color: black;">Group :{{item_doc.item_group}}</p>
      <p class="group" style="color: black;">QTY test :{{qty}}</p>
      {% if frappe.session.user != 'Guest'%}
      <p class="group" style="color: black;">QTY :{{qty}}</p>
      {% endif%}
      <p style="color: black;">{{item_doc.description}}</p>
      <p style="color: black;">Origin :{{item_doc.country_of_origin}}</p>
    </div>

{%- endblock -%}
 